# **Tarea PCA**
## Arantza Gomez Haro Gamboa

In [1]:
import pandas as pd
import numpy as np

In [2]:
def calibracion_multiple(modelos, y, bins):
    for nombre, predicciones in modelos.items():
        df_calibracion = pd.DataFrame({
            'predicciones': predicciones,
            'y': y
        })
        
        df_calibracion['bins'] = pd.qcut(df_calibracion['predicciones'], q=bins, labels=False, duplicates='drop') + 1
        grouped = df_calibracion.groupby('bins').mean()
        
        plt.figure()
    
        plt.plot(grouped.predicciones, grouped.y, label=f"{nombre} (Modelo)", marker="o", color="rosybrown")
        plt.plot(grouped.predicciones, grouped.predicciones, label="Real", marker="o", color="cornflowerblue")
        
        plt.grid()
        plt.legend()
        plt.xlabel("Predicción")
        plt.ylabel("Real")
        plt.title(f"Calibración para {nombre}")

### **Datos**

In [3]:
df = pd.read_csv('hitters.csv')
df = pd.get_dummies(df, columns=['League', 'Division', 'NewLeague'])
df = df[df['Salary'].notnull()]
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,...,PutOuts,Assists,Errors,Salary,League_A,League_N,Division_E,Division_W,NewLeague_A,NewLeague_N
1,315,81,7,24,38,39,14,3449,835,69,...,632,43,10,475.0,False,True,False,True,False,True
2,479,130,18,66,72,76,3,1624,457,63,...,880,82,14,480.0,True,False,False,True,True,False
3,496,141,20,65,78,37,11,5628,1575,225,...,200,11,3,500.0,False,True,True,False,False,True
4,321,87,10,39,42,30,2,396,101,12,...,805,40,4,91.5,False,True,True,False,False,True
5,594,169,4,74,51,35,11,4408,1133,19,...,282,421,25,750.0,True,False,False,True,True,False

In [4]:
target = 'Salary'
y = df[target]
X = df.copy()
X = X.drop(target, axis = 1)
X.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,...,CWalks,PutOuts,Assists,Errors,League_A,League_N,Division_E,Division_W,NewLeague_A,NewLeague_N
1,315,81,7,24,38,39,14,3449,835,69,...,375,632,43,10,False,True,False,True,False,True
2,479,130,18,66,72,76,3,1624,457,63,...,263,880,82,14,True,False,False,True,True,False
3,496,141,20,65,78,37,11,5628,1575,225,...,354,200,11,3,False,True,True,False,False,True
4,321,87,10,39,42,30,2,396,101,12,...,33,805,40,4,False,True,True,False,False,True
5,594,169,4,74,51,35,11,4408,1133,19,...,194,282,421,25,True,False,False,True,True,False

### **Varianza explicada de los primeros 3 componentes**